.more_details{
    background-color: #1c1c1c;
    color: var(--text-color);
    padding-top:70px;
    padding-bottom: 80px;
}
.more_details .head{
    display:flex;
    gap: 10px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: var(--body-font);
    font-weight: 600;
}
.more_details h6{
    font-family: var(--fig-font);
    font-size: 40px;
}
 .head span{
    color: var(--main-color);
    font-family: var(--fig-font);
    margin-left: -10px;
}

.more_details .our_text{
    text-align: center;
}
.our_text h4{
    font-size: 22px;
    font-weight: 600;
}
.our_text p{
    font-size: 16px;
    color: gray;
    font-weight: 500;
}
.bttn{
    background-color: transparent;
    border: 3px solid var(--main-color);
    width: 40%;
    padding: 20px;
    border-radius: 23px;
    margin: 10px 30%;
    outline: none;
}
@media (max-width:430px) {
    .bttn{
        width: 80%;
        margin: 10px 5%;
    }
}