
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400;700&family=The+Nautigal&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text-color:#F5F5DC;
  --main-color:#FF0060;
  --main-hover:#f38cb4;
  --bg-color:#000;
  --logo-font:'Abril Fatface', serif;
  --body-font:'Roboto', sans-serif;
  --fig-font:'The Nautigal', cursive;
}

a {
  font-weight: 500;
  color:inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--main-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--body-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--main-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color);
}
button:hover {
  background-color: gray;
  color: #1c1a1a;
  border: none;
}
button:focus,
button:focus-visible {
  outline: 4px auto --main-hover;
}

